.translate-middle {
    transform: translate(-25%,-50%)!important;
}
.d-flex
{
    max-width: 500px;
}
img
{
    z-index: -1;
}
p {
    font-family: Lato;
}
.carousel
{
    position: relative;
    top:20%;
    left: 5%;
}
.carousel-container {
    width: 200px;
    min-height: 200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.carousel-item {
    width: 100%;
    position: absolute;
    left: -100%;
    box-sizing: border-box;
    transition: left 0.5s;
    background-color: rgb(27, 139, 225);
    color: white;
    height: 190px;
}
.carousel-item.active {
    left: 0;
}
.carousel-item.active + .carousel-item {
    left: 100%;
}
.carousel-control {
    position: absolute;
    height: 30px;
    top: calc(80% - 25px);
    left: 60px;
}
.carousel-control.next {
    left: auto;
    right: 60px;
}
.next, .prev
{
    cursor: pointer;
}
.next:hover, .prev:hover
{
    transform: scale(1.25);
    transition: 0.25s ease-in;
}
.dot
{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

button
{
    width: 100px;
    height: 50px;
    align-self: center;
    border: none;
    border-radius: 25px;
    background-color: rgb(27, 139, 225);
}
button:hover
{
    background-color: rgb(25, 105, 167);
}




