<div class="d-flex justify-content-start flex-wrap mt-2 ms-2">
    <div class="card col-md-4 margin" *ngFor="let family of families | searchFamilies: searchText">
        <div class="card-body" (click)="viewFamily()">
            <img [ngbPopover]="content"
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Essential Supplies"
                    [closeDelay]="2000"
                    placement="end"
                    class="img-thumbnail w-100 h-50" [src]="family.urlSlika[0]" alt="" style="cursor:pointer;">
            <h4 class="text-center mt-1">{{family.naziv}}</h4>
            <hr>
            <div>
                <div class="d-flex justify-content-between mb-3">
                    <span>City: </span><span>{{family.grad}}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <span>Address: </span><span>{{family.adresa}}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <span>Num of family members: </span><span>{{family.brClanova}}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Status: </span><span>{{family.status}}</span>
                </div>
                <hr>
                <div>
                    <button class="btn btn-primary w-100 mb-5">Donate <fa-icon [icon]="['fas', 'hand-holding-heart']" style="color:white;" size="xl"></fa-icon></button>
                </div>
                <!-- <p><ngb-progressbar type="info" [value]="50" [striped]="true"></ngb-progressbar></p> -->
                <ng-template #content>
                    <ul>
                        <li *ngFor="let p of family.najpotrebnijestvari">{{p}}</li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</div>

