<div class="dropdown">
  <div class="d-flex">
    <div class="menu-item btn btn-primary" (click)="navigate(recursiveList.naziv)">
      {{ recursiveList.naziv }}
    </div>
    <span *ngIf="recursiveList.podkategorije.length > 0" class="arrow" (click)="toggleSubmenu()">
      >
    </span>
  </div>
  
  <ul *ngIf="opened && recursiveList.podkategorije.length > 0" class="list-group">
    <li *ngFor="let podkategorija of recursiveList.podkategorije" class="list-group-item">
      <app-recursive-categories [recursiveList]="podkategorija.category"></app-recursive-categories>
    </li>
  </ul>
</div>
