.menu-item {
    cursor: pointer;
  }
.list-group-item
{
  border: none;
}
.arrow
{
  background-color: rgb(24, 125, 213);
  color:white;
  box-sizing: border-box;
  width: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}