<div class="card mb-4 mb-lg-0">
    <div class="card-body p-0">
      <ul class="list-group list-group-flush rounded-3">
        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
          <fa-icon [icon]="['fab','github']" style="color:#333333;" size="xl"></fa-icon>
          <p class="mb-0">GitHub</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
          <fa-icon [icon]="['fab','twitter']" style="color: #55acee;" size="xl"></fa-icon>
          <p class="mb-0">Twitter</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
          <fa-icon [icon]="['fab', 'instagram']" style="color: #ac2bac;" size="xl"></fa-icon>
          <p class="mb-0">@Cekic_7</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
          <fa-icon [icon]="['fab', 'facebook']" style="color: #3b5998;" size="xl"></fa-icon>
          <p class="mb-0">Facebook</p>
        </li>
      </ul>
    </div>
  </div>