<div class="d-flex align-items-center flex-column">
    <h3>Contact</h3>
    <div class="card w-75">
        <div class="card-body text-center d-flex flex-column">
            <div class="row">
                <div class="col-sm-3">
                  <h3><fa-icon [icon]="['fas', 'phone']"></fa-icon></h3>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">06248052</p>
                </div>
                <hr class="mt-2">
            </div>
            <div class="row">
                <div class="col-sm-3">
                  <h3><fa-icon [icon]="['fas', 'location-dot']"></fa-icon></h3>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Aleksandra Medevedeva 14</p>
                </div>
                <hr class="mt-2">
            </div>
            <div class="row">
                <div class="col-sm-3">
                  <h3><fa-icon [icon]="['fas', 'envelope']"></fa-icon></h3>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">GiveWave@gmail.com</p>
                </div>
                <hr class="mt-2">
            </div>
            <div class="row">
                <div class="col-sm-3">
                  <h3><fa-icon [icon]="['fab', 'instagram']"></fa-icon></h3>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">GiveWaveIG</p>
                </div>
                <hr class="mt-2">
            </div>
            <div class="row">
                <div class="col-sm-3">
                  <h3><fa-icon [icon]="['fab', 'facebook']"></fa-icon></h3>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">GiveWaveFB</p>
                </div>
                <hr class="mt-2">
            </div>
            <div class="col">
                <h4>Contact Us</h4>
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row form-outline mb-3">
                    <div class="col-sm-3">
                        <label class="form-label" for="textAreaExample">Message</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
      </div>
</div>