p{
    font-size: 1.3rem;
}
a{
    text-decoration: none;
    color: black;
}
.input-field{
    border-radius:5px;
    padding:5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;

}
.input-field.error{
    border:1px solid red;
    color:red;

}