<div class="row mt-3">

    <div class="col-md-3">
        <select name="city" id="city" class="form-select single-choice" [ngModel]="selectedItem1" (ngModelChange)="onChangeCity($event)">
            <option>All cities</option>
            <option value="{{city.city}}" *ngFor="let city of cities">{{city.city}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <select name="status" id="status" class="form-select" [ngModel]="selectedItem2" (ngModelChange)="onChangeStatus($event)">
            <option value="">status</option>
            <option value="{{status}}" *ngFor="let status of status">{{status}}</option>
        </select>
    </div>
    <div class="col-md-1">
        <button class="byn btn-primary" (click)="goToCartPage()">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;"  class="badge bg-danger">{{totalItem}}</div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        </button>
    </div>
    <div class="col-md-3 ">
        <!-- *ngFor="let product of products | myProductsFilter: searchText" -->
        <div class="d-flex">
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
                [(ngModel)]="searchText" (ngModelChange)="updateSearch()" placeholder="Enter a product name" 
                autofocus>
        <fa-icon class="mt-2 ms-2" [icon]="['fas', 'magnifying-glass']"></fa-icon>
        </div>
    </div>
</div>



