<div>
    <div
        class="bg-image d-flex flex-column align-items-center">
        <h2  class="font-weight-bold">About GiveWave</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
             Porro facilis culpa asperiores quisquam! Est eaque iure deserunt impedit molestiae, omnis libero sapiente, voluptatibus vero accusantium optio.<br>
             Dignissimos numquam reiciendis odit?Porro facilis culpa asperiores quisquam! Est eaque iure deserunt impedit molestiae, omnis libero sapiente, voluptatibus vero accusantium optio.</p>
    </div>
    <div class="row">
        <app-statistics></app-statistics>
    </div>
    <div class="row mt-3 p-3">
        <div class="col-md-6">
            <app-what-we-do></app-what-we-do>
        </div>
        <div class="col-md-6">
            <app-contact></app-contact>
        </div>
    </div>
</div>