

.bg-image
{
    background-image: url('../../../../assets/images/Untitled.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 100% 70vh;
    height: 70vh;
}
h2
{
    margin-top: 10%;
}
p{
    max-width: 80%;
    font-weight: 500;
    font-size: 1.2rem;
}
.row
{
    margin-right: 0;
}

