<div>
    <div
        class="bg-image d-flex flex-column align-items-center">
        <h2  class="font-weight-bold">About GiveWave</h2>
        <p>Donating is an important activity by which we provide support to the vulnerable when we have funds available. Our donation can have a profound and significant impact on the lives of people facing various difficulties. When we donate money, food, clothing or other resources, we help provide basic needs to those in need.


            <br>Donating is our responsibility towards society and solidarity with people who need help the most. Our ability to donate indicates our privileged position and obliges us to provide support to those who do not have the same opportunities. In this way, donating can be a source of hope, relief and change in the lives of those who need help.<br>
             <br>
             </p>
    </div>
    <div class="row">
        <app-statistics></app-statistics>
    </div>
    <div class="row mt-3 p-3">
        <div class="col-md-6">
            <app-what-we-do></app-what-we-do>
        </div>
        <div class="col-md-6">
            <app-contact></app-contact>
        </div>
    </div>
</div>