<footer>
    <div class="container">
        <a routerLink="/"><h4>GiveWave</h4></a>
        <p>&copy; GiveWave2023 by DNSTeam</p>
        <div class="linkovi">
            <a href="https://www.facebook.com"><fa-icon  [icon]="['fab', 'facebook']" size="xl"></fa-icon></a>
            <a href="https://www.instagram.com/"><fa-icon  [icon]="['fab', 'instagram']" size="xl"></fa-icon></a>
            <a href="https://bitbucket.org/product"><fa-icon  [icon]="['fab', 'bitbucket']" size="xl"></fa-icon></a>
        </div>
    </div>
</footer>