<h3>Donation Hictory</h3>
<div class="mb-4 mb-md-0 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Donation</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donation of donations">
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{donation.Naziv}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{donation.donacija.naziv}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{donation.donacija.kolicina}}</p>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm btn-rounded">
                Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>


