<h3>Donation Hictory</h3>
<div class="mb-4 mb-md-0 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>#</th>
            <th>Donation</th>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donation of donations; let i = index">
            <td>
              <p class="fw-bold mb-1">{{i}}</p>
            </td>
            <td>
                  <p class="fw-bold mb-1">{{donation.donacija}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{donation.datumDonacije | date}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{donation.opis}}</p>
            </td>
          </tr>
        </tbody>
      </table>
</div>


