
    <div *ngIf="porodica">
        <div class = "roditeljskiDiv">
            <div class = "divZabrClanova">
                    <div class = "brojClanova">
                    <label>Broj clanova porodice:</label>
                    {{porodica.brojClanova}}
                    </div>
                    <div class = "brojClanova">
                    <label>Adresa porodice:</label>
                    {{porodica.adresa}}
                    </div>
                    <div class = "brojClanova">
                    <label>Najpotrebnije stvari:</label>
                    {{porodica.NajpotrebnijeStvari}}
                    </div>
                    <div class = "brojClanova">
                    <label>Najpotrebnije stvari:</label>
                    {{porodica.NajpotrebnijeStvari}}
                    </div>
                    <div class = "brojClanova">
                    <label>Opis:</label>
                    {{porodica.opis}}
           

                                     
                </div>
            </div>
        </div>
    </div>

