<div class="card mb-4">
    <div class="card-body text-center">
      <span class="d-flex flex-row-reverse">
        <label for="image-input" *ngIf="isVisible()">
          <fa-icon [icon]="['fas', 'pen']"></fa-icon>
        </label>
        <input type="file" id="image-input" (change)="onFileSelected($event)">
        <img id="avatar" src="{{user.imageUrl}}" class="rounded-circle img-fluid" style="width: 150px;">
      </span>
      <h5 class="my-3">{{user.username}}</h5>
      <!-- <p class="text-muted mb-1" (click)="like()"><fa-icon [icon]="['fas','heart']" class="srce"></fa-icon>{{user.lajkovi}}</p> -->
      <div class="d-flex justify-content-center mb-2">
        <button *ngIf="isVisible()" type="button" class="btn btn-primary">Add Product</button>
      </div>
    </div>
  </div>