.row
{
    --bs-gutter-x: 0.5rem;
}
.my-custom-scrollbar {
    position: relative;
    height: 240px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.progress
{
    border: rgb(78, 77, 77) 1px solid;
    --bs-progress-bar-bg: #0502f9;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b8be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b8be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
   .carousel-indicators [data-bs-target]
   {
       background-color: #1b8be1;
   }