<div class="d-flex align-items-center flex-column">
    <h3>What we do?</h3>
    <div class="card w-75">
        <div class="card-body text-center d-flex flex-column">
          
            <p>Osim što pruža konkretnu pomoć, doniranje nam također pruža osobno zadovoljstvo i osjećaj ispunjenja. Kada znamo da smo nekome pomogli ili poboljšali nečiji život, osjećamo se korisno i sretno. Doniranje nam omogućava da budemo dio šire zajednice i aktivno sudjelujemo u rješavanju socijalnih problema.</p>
            <p>Važno je napomenuti da doniranje nije samo pitanje novca. Možemo donirati i svoje vrijeme, znanje i vještine. Volontiranje ili pružanje stručne pomoći također su vrijedni oblici doniranja koji mogu imati veliki utjecaj na ugrožene pojedince ili zajednice.</p>
            <p>Ukratko, doniranje je važno jer nam omogućuje da pružimo podršku ugroženima i pomognemo im prevladati teškoće. Kroz doniranje izražavamo svoju solidarnost i odgovornost prema drugima, te doprinosimo stvaranju pravednijeg i humanijeg društva.</p>
          
        </div>
      </div>
</div>
