<div class="d-flex align-items-center flex-column">
    <h3>What we do?</h3>
    <div class="card w-75">
        <div class="card-body text-center d-flex flex-column">
          
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat voluptatem velit iure veritatis blanditiis aut ad voluptatibus vel aspernatur itaque reprehenderit repellendus eaque, mollitia doloremque quis nesciunt nam. Nihil.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat voluptatem velit iure veritatis blanditiis aut ad voluptatibus vel aspernatur itaque reprehenderit repellendus eaque, mollitia doloremque quis nesciunt nam. Nihil.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat voluptatem velit iure veritatis blanditiis aut ad voluptatibus vel aspernatur itaque reprehenderit repellendus eaque, mollitia doloremque quis nesciunt nam. Nihil.</p>
          
        </div>
      </div>
</div>
