<div class="d-flex align-items-center flex-column">
    <h3>What we do?</h3>
    <div class="card w-75">
        <div class="card-body text-center d-flex flex-column">
          
            <p>Besides providing concrete help, donating also gives us personal satisfaction and a sense of fulfillment. When we know that we have helped someone or improved someone's life, we feel useful and happy. Donating allows us to be part of the wider community and actively participate in solving social problems.</p>
            <p>It is important to note that donating is not just about money. We can also donate our time, knowledge and skills. Volunteering or providing professional assistance are also valuable forms of donation that can have a major impact on vulnerable individuals or communities.</p>
            <p>In short, donating is important because it allows us to support the vulnerable and help them overcome difficulties. Through donating, we express our solidarity and responsibility towards others, and contribute to the creation of a fairer and more humane society.</p>
          
        </div>
      </div>
</div>
