<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <app-profile-image></app-profile-image>
      </div>
      <div class="col-lg-8">
        <app-profile-data></app-profile-data>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-my-products></app-my-products>
      </div>
      <div class="col-md-6">
        <app-donate-history></app-donate-history>
      </div>
    </div>
  </div>
  <app-product-details></app-product-details>
  <app-add-product-modal></app-add-product-modal>
  <app-add-family-modal></app-add-family-modal>
</section>