<div class="d-flex justify-content-start flex-wrap mt-2">
    <div class="card col-md-3 margin" *ngFor="let product of products">
        <div class="card-body">
            <img class="img-thumbnail" src="../../../../assets/images/poklon.png" alt="">
            <h4>{{product}}</h4>
            <div class="row">
                <div class="col-sm-9">
                    <p>Prokuplje</p>
                    <p>New</p>
                </div>
                <div class="col-sm-3">
                    <div class="d-flex justify-content-center align-items-center bg-primary mt-2" (click)="addToCart($event)">
                        <fa-icon [icon]="['fas', 'shopping-cart']" style="color:white;"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>